/* Weater app wrapper*/

.weather-app {
  width: 600px;
  margin: 10px auto;
  padding: 10px;
}

.weather-app .card {
  border-radius: 12px;
}

/* Weater app wrapper*/

form {
  padding: 10px;
}

h1 {
  font-weight: bold;
  color: #153e90;
  font-family: "Merienda One", cursive;
}
.date,
.current-weather,
.precipitation,
.humidity {
  color: rgba(65, 63, 63, 0.89);
  border-color: black;
}
.date,
.current-weather {
  font-weight: bold;
}
.current-weather-icon {
  font-size: 100px;
  color: yellow;
}
.current-temperature {
  white-space: nowrap;
  text-align: right;
  margin: 36px -40px 0 0;
  font-size: 28px;
  font-family: "Merienda One", cursive;
}

.current-temperature a {
  text-decoration: none;
}

span {
  margin: 10px;
}

.day {
  text-align: center;
  font-weight: bold;
}
.Monday {
  background-color: rgb(223, 230, 223);
}
.Tuesday {
  background-color: rgb(124, 143, 124);
}
.Wednesday {
  background-color: rgb(247, 201, 149);
}
.Thursday {
  background-color: rgb(241, 183, 183);
}
.Friday {
  background-color: rgb(240, 151, 163);
}
